
html, body {
    height: 200000px;
    max-width:500px;
    /* white-space: nowrap; */
    /* overflow: hidden; */ 

}

html {
    /* display: table; */
     margin: auto; 
}

body {
    /* display: table-cell; */
    vertical-align: middle;
    background-color: #E3E4FA;

}

#one {
	position:absolute;
	top:10%;
}

#two {
	position:absolute;
	top:50%;
}

#three {
	position:absolute;
	top:20%;
}

