
html, body {
    height: 800000px;
    white-space: nowrap;
    overflow: hidden;

}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: #FBE2FF;

}

#one {
	position:fixed;
	top:7%;
	left:10%;
}

#two {
	position:fixed;
	top:20%;
	left:70%;
}

#three {
	position:fixed;
	top:65%;
	left:35%;
}

